.header {
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  width: 75%;
  padding-top: 20px;
  z-index: 10;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navbar-brand {
  display: flex;
}

.menu-hamburger {
  border: none;
  background-color: transparent;
  outline: none;
  cursor: pointer;
  padding: 5px;
}

.menu-hamburger .hamburger-icon {
  width: 25px;
}

.logo {
  width: 50px;
  margin-left: 20px;
}

.navbar-nav {
  list-style: none;
  display: flex;
}

.navbar-nav .nav-item {
  display: flex;
  align-items: center;
  justify-content: center;
}

.navbar-nav .nav-item:not(:last-of-type)::after {
  content: '';
  display: inline-block;
  width: 1px;
  height: 20px;
  margin: 0 20px;
  background: rgba(255, 255, 255, .5);
}

.navbar-nav .nav-item:last-of-type {
  margin-right: 15px;
}


.nav-link {
  position: relative;
  display: flex;
  align-items: center;
  text-decoration: none;
  padding: 5px;
}

.nav-link .nav-icon {
  width: 20px;
  margin-right: 10px;
}

.navbar-nav .nav-icon.paper-plane {
  width: 26px;
  padding-bottom: 5px;
}

.nav-link .nav-text {
  font-size: 16px;
  text-transform: uppercase;
  color: #fff;
}

.nav-link .bag-items {
  position: absolute;
  right: -15px;
  width: 22px;
  height: 22px;
  line-height: 22px;
  font-size: 12px;
  font-weight: bold;
  text-align: center;
  color: #fff;
  background-color: #3EC6E0;
  border-radius: 50%;
}

/* ==== ANIMATIONS ==== */
@keyframes show-up {
  from {
    opacity: 0;
    transform: translate3d(0, -25px, 0);
  }

  to {
    opacity: 1;
    transform: translate3d(0, 0, 0);
  }
}

/* ==== MOBILE ==== */
@media only screen and (max-width: 850px) {

  .header {
    width: 100%;
    padding: 20px 20px 0;
  }

  .navbar-nav .nav-item:not(:last-of-type)::after,
  .nav-link .nav-text {
    display: none;
  }

}
