/* ==== RESET ==== */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Roboto', Arial, Helvetica, sans-serif;
  transition:  all .3s;
}

/* ==== HEADER ==== */
.header {
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  width: 75%;
  margin-top: 20px;
  z-index: 10;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.menu-hamburger {
  border: none;
  background-color: transparent;
  outline: none;
  cursor: pointer;
  padding: 5px;
}

.navbar-nav {
  list-style: none;
  display: flex;
}

.navbar-nav .nav-item {
  display: flex;
  align-items: center;
  justify-content: center;
}

.navbar-nav .nav-item:not(:last-of-type)::after {
  content: '';
  display: inline-block;
  width: 1px;
  height: 20px;
  margin: 0 20px;
  background: rgba(255, 255, 255, .5);
}

.navbar-nav .nav-item:last-of-type {
  margin-right: 15px;
}


.nav-link {
  position: relative;
  display: flex;
  align-items: center;
  text-decoration: none;
  padding: 5px;
}

.nav-link .nav-icon {
  width: 20px;
  margin-right: 10px;
}

.navbar-nav .nav-icon.paper-plane {
  width: 26px;
  padding-bottom: 5px;
}

.nav-link .nav-text {
  font-size: 16px;
  text-transform: uppercase;
  color: #fff;
}

.nav-link .bag-items {
  position: absolute;
  right: -15px;
  width: 22px;
  height: 22px;
  line-height: 22px;
  font-size: 12px;
  font-weight: bold;
  text-align: center;
  color: #fff;
  background-color: #3EC6E0;
  border-radius: 50%;
}

/* ==== SLIDER ==== */
.slider-container {
  height: 100%;
  position: relative;
}

.slider {
  width: 100%;
  height: 650px;
}

.slider-img {
  width: 100%;
  height: 650px;
  background-size: cover;
}

.img_1 {
  background-image: url('../img/principal_banner_desktop.jpg');
  background-size: cover; 
}

.img_2 {
  background-image: url('../img/principal_banner_desktop_02.jpg');
  background-size: cover;
}

.slide-info {
  position: absolute;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  width: 80px;
  height: 420px;
  padding-top: 20px;
  background: #3EC6E0;
}

.slide-info .slide-title {
  writing-mode: vertical-rl;
  font-size: 18px;
  color: #fff;
}

.slide-info .slide-separator {
  width: 1px;
  height: 65px;
  opacity: 0.5;
  margin: 20px 0;
  background-color: #fff;
}

.slide-info .slide-control {
  width: 100%;
  padding: 20px 0 60px 0;
  text-align: center;
  background-color: #084154;
  color: #fff;
}

.slick-next,
.slick-prev {
  position: absolute;
  bottom: 130px;
  right: 10px;
  padding: 3px 10px;
  border: none;
  background-color: transparent;
  z-index: 10;
}

.slick-prev {
  right: 40px;
}

.game-info {
  max-width: 500px;
  position: absolute;
  /* right: 160px; */
  right: 13%;
  top: 50%;
  transform: translateY(-50%);
  color: #fff;
}

.game-title {
  text-align: right;
  font-size: 50px;
  font-weight: bold;
}

.game-price {
  text-align: right;
  font-size: 80px;
  font-weight: bold;
  color: #3EC6E0;
}

.game-cents {
  font-size: 40px;
  vertical-align: super;
}

.game-description {
  text-align: right;
  font-size: 18px;
}

/* ==== MOBILE ==== */
@media only screen and (max-width: 850px) {
  /* ==== HEADER MOBILE ==== */
  .header {
    width: 90%;
  }
  
  .navbar-nav .nav-item:not(:last-of-type)::after,
  .nav-link .nav-text {
    display: none;
  }

  /* ==== SLIDER MOBILE ==== */
  .slider {
    width: 100%;
    height: 450px;
  }
  
  .slider-img {
    width: 100%;
    height: 450px;
    background-size: cover;
  }

  .img_1 {
    background-image: url('../img/principal_banner_mobile.jpg');
    
  }
  
  .img_2 {
    background-image: url('../img/principal_banner_mobile_02.jpg');
  }

  .slide-info {
    position: static;
    flex-direction: row;
    width: 100%;
    height: 80px;
    padding-top: 0;
    padding-left: 20px;
  }

  .slide-info .slide-separator {
    width: 20px;
    height: 1px;
    opacity: 0.5;
    margin: 0 20px;
    background-color: #fff;
  }

  .slide-info .slide-title {
    writing-mode: horizontal-tb;
    font-size: 14px;
  }

  .slide-info .slide-control {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 150px;
    height: 100%;
    padding: 20px 90px 20px 0;
    text-align: center;
    background-color: #084154;
    color: #fff;
  }
  
  .slick-next,
  .slick-prev {
    bottom: -15px;
    right: 20px;
  }

  .slick-prev {
    right: 60px;
  }

  .game-info {
    max-width: 100%;
    width: 100%;
    height: 200px;
    top: 310px;
    right: 0;
    left: 0;
    padding: 20px;
    background-color: rgba(0, 0, 0, .5);
  }

  .game-title {
    font-size: 28px;
  }
  
  .game-price {
    font-size: 42px;
  }
  
  .game-cents {
    font-size: 20px;
  }
  
  .game-description {
    width: 280px;
    font-size: 12px;
    margin: 5px 0 0 auto;
  }

}